{
    "env": {
        "production": {
            "plugins": ["transform-react-remove-prop-types"]
        }
    },
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": [
                        "Chrome >= 49",
                        "FireFox >= 44",
                        "Safari >= 7",
                        "Explorer 11",
                        "last 4 Edge versions"
                    ]
                },
                "useBuiltIns": true
            }
        ],
        "react",
        "stage-1"
    ],
    "ignore": ["node_modules"],
    "plugins": [
        "react-hot-loader/babel",
        "transform-react-jsx-source",
        "transform-es2015-modules-commonjs",
        [
            "module-resolver",
            {
                "root": ["./"],
                "alias": {
                    "actions": "./src/actions",
                    "components": "./src/components",
                    "containers": "./src/containers",
                    "reducers": "./src/reducers",
                    "selectors": "./src/selectors",
                    "static": "./src/static",
                    "styles": "./src/styles",
                    "utils": "./src/utils"
                }
            }
        ]
    ]
}
