@import 'variables';

.checklistSidebar{
    user-select: none;
    .rootTask {
        font-weight: bold;
    }
    .dropdownToggle {
        color: lighten($contrast, 30%);
        cursor: pointer;
    }
}