@import "variables";
.taskList {
    a {
        text-decoration: none;
        &.taskListHeader {
            font-weight: bold;
            color: $primary;
        }
        &.done {
            text-decoration: line-through;
            color: gray;
        }
    }
    ul {
        padding-left: 25px;
    }
    li {
        padding-top: 10px;
        user-select: none;
    }
    .taskListItem {
        list-style-type: none;
        &.done > a {
            color: gray;
            text-decoration: line-through;
        }
    }
    .taskList {
        .taskListItem {
            border-left: 1px $contrast solid;
            padding-left: 22px;
            margin-left: -22px;
        }
    }
    &.rootTask > ul {
        padding-left: 0px;
        margin: 0px;
    }
}

li.taskList:only-of-type {
    list-style-type: none;
}
